/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	/*Image only BG fallback*/

	/*background = gradient + image pattern combo*/
	background:
		linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
}

body {
	font-family: montserrat, arial, verdana;
}

/*form styles*/
#msform {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}

#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;

	/*stacking fieldsets above each other*/
	position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}

/*inputs*/
#msform input,
#msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}

/*buttons*/
#msform .action-button {
	width: 100px;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .next, .save{
	background: #27AE60;
}

#msform .exit{
	background: #dc3545 !important;
}

#msform .action-button:hover,
#msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}

#msform .create,
.reg {
	margin-top: 20px;
	display: block;
}

.show_pass {
	width: auto !important;
}


.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

header .dropdown {
	margin-right: 80px;
}
.todo-wrap{
	margin-top: 20px;
}
.add-note {
	display: flex;
	align-items: center;
	margin: 20px 0;
}
.todo-wrap .item{
	display: flex;
	justify-content: left;
	align-items: center;
	margin-bottom: 10px;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	padding: 10px 10px;

}
.todo-wrap .item p{
	margin: 0;
}
.todo-wrap .item .note__title{
	width: 60%;
	font-size: 18px;
}
.todo-wrap .item .note__date{
	margin: 0;
    width: 15%;
    margin-right: 30px;
	margin-left: 30px;
}
.todo-wrap .item .dots {
	width: 20px;
	height: 18px;
	border-radius: 50%;
	background: #ffc107;
	margin-right: 50px;
}
.todo-wrap .item .dots.important {
	background: #dc3545;
}
.todo-wrap .item .dots.done {
	background: #198754;
}
.todo-wrap .item p.done{
	text-decoration: line-through;
}
.todo-wrap .item .delate{
	margin-right: 40px;
}
.todo-wrap .item .edit {
	
}
.form-wrap .message {
	position: absolute;
	top: -20px;
	left: 24px;
	color: #dc3545;
	transition: all 0.5s;
	
}
.relative {
	position: relative;
}

.notification{
	position: fixed;
	bottom: 20%;
	right: -175px;
	transform: translate(-50%, -50%);
	/* border: 1px solid #000; */
	border-radius: 3px;
	padding: 10px;
	/* width: 50px;
	height: 30px; */
	background-color: #198754;
	color: #fff;
	transition: all 0.5s;
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 2px solid #000;
	border-radius: 5px;
	padding: 10px;
	display: block;
	z-index: 20;
	background-color: #ccc;
	width: 400px;
	height: 320px;
	display: none;
	color: #000;
}
.modal__cross{
	position: absolute;
	top: 20px;
	right: 20px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 10;
	display: none;
}


/* .edit-note{
	display: block;
} */
.edit-note {
	padding: 50px 40px 20px;
}
.edit-note .note__title {
	margin-top: 20px;
	margin-bottom: 20px;
}

.edit-note .edit__btn{
	text-align: center;
	margin-top: 20px;
}
.edit-note .form-check{
	width: 50%;
	margin: 0 auto;
}

.edit-note .message{
	margin: 0;
	text-align: center;
	color: #dc3545;
	transition: all 0.5s;
}

.search-wrap{
	padding: 20px 50px;
}

.show {
	display: block;
}
.hide {
	display: none !important;
}

.form__label{
	display: block;
    text-align: left;
    font-size: 14px;
    margin-top: 10px;
}