/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	/*Image only BG fallback*/

	/*background = gradient + image pattern combo*/
	background:
		linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6)) ;
}

body {
	font-family: montserrat, arial, verdana;
	/* background: transparent; */
		
}

/*form styles*/
#msform {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}

#msform fieldset, .admin__block-wrap {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;

	/*stacking fieldsets above each other*/
	position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}

/*inputs*/
#msform input,
#msform textarea, 
#admin__block input,
#admin__block textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}

/*buttons*/
#msform .action-button, 
#admin__block .action-button{
	width: 100px;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .next, .save,
#admin__block .next{
	background: #27AE60;
}

#msform .exit{
	background: #dc3545 !important;
}

#msform .action-button:hover,
#msform .action-button:hover,
#admin__block .action-button:focus, 
#admin__block .action-button:hover {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}

#msform .create,
.reg {
	margin-top: 20px;
	display: block;
}

.show_pass, #isAdmin, #isAdmin_modal {
	width: auto !important;
}


.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

header .dropdown {
	margin-right: 80px;
}
main{
	height: 100vh;
}
.todo-wrap{
	margin-top: 20px;
}
.add-note {
	display: flex;
	align-items: center;
	margin: 20px 0;
}
.todo-wrap .item, .item{
	display: flex;
	justify-content: left;
	align-items: center;
	margin-bottom: 10px;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	padding: 10px 10px;

}
.todo-wrap .item p{
	margin: 0;
}
.todo-wrap .item .note__title{
	width: 60%;
	font-size: 18px;
}
.todo-wrap .item .note__date{
	margin: 0;
    width: 15%;
    margin-right: 30px;
	margin-left: 30px;
}
.todo-wrap .item .dots {
	width: 20px;
	height: 18px;
	border-radius: 50%;
	background: #ffc107;
	margin-right: 50px;
}
.todo-wrap .item .dots.warning {
	background: #ffc107;
}
.todo-wrap .item .dots.important {
	background: #dc3545;
}
.todo-wrap .item .dots.done {
	background: #198754;
}
.todo-wrap .item p.done{
	text-decoration: line-through;
}
.todo-wrap .item .delate{
	margin-right: 40px;
}
.todo-wrap .item .edit {
	
}
.form-wrap .message {
	position: absolute;
	top: -20px;
	left: 24px;
	color: #dc3545;
	transition: all 0.5s;
	
}
.relative {
	position: relative;
}

.notification{
	position: fixed;
	bottom: 20%;
	right: -175px;
	transform: translate(-50%, -50%);
	/* border: 1px solid #000; */
	border-radius: 3px;
	padding: 10px;
	/* width: 50px;
	height: 30px; */
	background-color: #198754;
	color: #fff;
	transition: all 0.5s;
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 2px solid #000;
	border-radius: 5px;
	padding: 10px;
	display: block;
	z-index: 20;
	background-color: #ccc;
	width: 400px;
	height: 270px;
	display: none;
	color: #000;
}
.modal__cross{
	position: absolute;
	top: 20px;
	right: 20px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 10;
	display: none;
}


/* .edit-note{
	display: block;
} */
.edit-note {
	padding: 50px 40px 20px;
}
.edit-note .note__title {
	margin-top: 20px;
	margin-bottom: 20px;
}

.edit-note .edit__btn{
	text-align: center;
	margin-top: 20px;
}
.edit-note .form-check{
	width: 50%;
	margin: 0 auto;
}

.edit-note .message{
	margin: 0;
	text-align: center;
	color: #dc3545;
	transition: all 0.5s;
}

.search-wrap{
	padding: 20px 50px;
}

.show {
	display: block;
}
.hide {
	display: none !important;
}

.form__label{
	display: block;
    text-align: left;
    font-size: 14px;
    margin-top: 10px;
}

.category-wrap, .cat-title{
	display: flex;
	justify-content: space-evenly;
}
.cat-title{
	text-align: center;
	border-bottom: 1px solid #2C3E50;
}

.category__item, .category__title{
	width: 33%;
	padding: 10px;
}
.category__item +.category__item{
	border-left: 1px solid #2C3E50;
	
}
.category__title{
	margin-bottom: 10px;
}
.categories .note{
	padding: 10px;
	margin-bottom: 20px;
	box-shadow: 0 5px 20px rgb(0 0 0 / 15%), 0 5px 10px rgb(0 0 0 / 12%);
	cursor: pointer;
}
.categories .note__info-box{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.categories .note__title {
	margin-bottom: 10px;
}

.hold{
	border: solid 5px #ccc;
}

.hovered{
	background-color: rgb(129, 115, 115);
	
}
.invisable{
	border: 1px dashed #2C3E50;
	padding: 10px;
	margin-bottom: 20px;
}
.admin {
	background-color: transparent;
}
#admin__block {
	width: 1000px;
	margin: 50px auto;
	text-align: center;
	position: relative;
	
}

.admin__block-wrap{
	display: flex;
	justify-content: space-between;
	padding: 20px 10px;
}
.users__wrap{
	width: 50%;
	padding: 0 10px;
}
.users__wrap ul {
	margin: 0;
	padding: 0;
}
.users__wrap span{
	width: 30px;
	display: inline-block;
	text-align: right;
	margin-right: 10px;
}
.creat__user{
	width: 45%;
	padding: 0 10px;
}

.user-item{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	border-bottom:1px dashed #ccc;
	padding: 5px 0;
}
.user-item +.user-item{
	margin-top: 5px;
}
.user-item p{
	margin: 0;
}
.checkbox-wrap #isAdmin{
	margin-left:15px;
}
#admin__block .modal{
	width: 600px;
	height: 600px;
}
#modal__admin-form{
	width: 80%;
	margin: 0 auto;
	padding: 30px 40px 20px;
}
#isAdmin_modal{
	margin-left: 20px;
}

.modal__wrap{
	display: flex;
	justify-content: space-between;
}

.modal__wrap .box{
	width: 45%;
	height: 300px;
	border: 1px solid #000;
}
.modal__item{
	width: 60%;
    border: 1px solid #2C3E50;
    background-color: #0dcaf0;
    border-radius: 2px;
    padding: 10px;
    text-align: center;
    margin: 0 auto 20px;
}
.modal__item:first-child{
	margin-top: 30px;
}

.modal__btns{
	text-align: right;
	margin-top: 10px;
}